body
{
    font-family:"Segoe UI",Tahoma,sans-serif;
    background-color:#fab66b;
}
p {
    color: navy;
}
.sale {
    font-weight:bold;
    background-color:aqua;
}
#sidenote {
    background-color:#dbd9d9;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    font-weigh: bold;
}
