ul{
list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:#777;
}
li{
float:left;
}
li a, .dropbtn{
  display: linline-black;
  color: pink;
  text-align:center;
  padding: 12px 14px;
}
li a:hover, .dropDown:hover .dropBtn {
   background-color: red;
}
li.dropDown{
   display:inline-block;
}
.dropDwon-content{
  display:none;
  position:absolute;
  background-color:#f9f9f9;
  min-width:160px;
  box-shadow: 0px 8px 16px 0px rgba(1,0,1,0.3);
  z-index:1;
}
