body { 
  font-family: "Fantasy", sans-serif; 
  background-color:#5DADE2; 
  color: white; 
  font-size: 1.2rem; 
}

h1 { 
  text-shadow: 2px 2px white; 
} 
a { 
  font-family: "Fantasy", sans-serif; 
  text-align: center; 
  text-decoration:none;
  font-size: 20px; 
  font-color: #85C1E9;
} 

ul { 
  list-style-type: none;
  margin: 0;
  padding: 0; 
  
  background-color:#3498DB; 
} 
li a, .dropBtn{ 
  display: inline-block; 
  color:white;
  text-align: center; 
  padding: 12px 14px; 
} 
li.dropDown{
  position: relative; 
  display: inline-block;
} 

.dropDown-content { 
  display: none; 
  position: relative; 
  background-color:#2874A6 ; 
  min-width: 160px;
  box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropDown-content a { 
  padding: 12px 16px; 
  text-align: left; 
  text-decoration: none; display: block;
  font-color: #F6909D; 
}

.dropDown-content a:hover { 
  background-color: #FFB1BF ; 
  text-color:#48C9B0;
}
.dropDown:hover .dropDown-content { 
  display: block; 
  text-color: #F6909D;
} 

li { float: left;
    border: 2px solid white; width:24.5%;
    height: 100px; font-size: 0.8rem; 
   } 

.left{ 
  position: absolute; 
  left: 2px;
  margin: 2px; 
  width:24.5%;
  height:1000px; 
  padding:2px; border: 5px solid white; margin:0; 
}
.right { 
  position: absolute;
  right: 1px; 
  margin: 2px; 
  padding: 2px; 
  border: 2px solid white; width:74%;
  height: 1260px; 
}
span { 
  background-color: #FC8EAC; 
  color: white; 
  font-size: 20px; 
  border: 2px solid black; 
} 
.banner { 
  text-align: center; 
  border: 2px solid white;
  font-size: 32px;
}
.navi { 
  display: flex; 
  justify-content: center;
  align-items: center;
} 
img { 
  border: 2px dotted #FC8EAC; 
  box-shadow: 0px 8px 16px 0px white; 
} 
.gloss, .workbook { 
  width: 40px; 
  font-size: 10px; 
  text-decoration: none; 
  display: inline-block;
  text-align: center;
  padding: 4px; 
  margin: 4px; 
} 
.gloss { 
  background-color: white; 
  color: white;
  border: 2px dotted #FC8EAC; 
  width: 40px; 
  font-size: 10px; 
  text-decoration: none;
}
.workbook { 
  background-color: #FC8EAC; 
  color: white; 
  border: 2px dotted white; 
  width: 40px;
  text-decoration: none; 
  font-size: 10px; 
} 
.gloss a, 
.workbook a { 
  text-decoration: none; 
} 
.workbook a {
  color: pink;
  text-decoration: none; 
}
.workbook a:hover { 
  background-color: white;
  color: #F6909D; 
}
.gloss a:hover {
  background-color: #3498DB;
  color: blue;
} 
.hidden { display: none; 
        }
#show,
#hide { 
  display: block; 
  background-color: #F4C2C2; 
  font-family: "Fantasy", sans-serif; 
  box-shadow: 0px 8px 16px 0px #FFD7E9; 
  width: 20px;
  height: 20px;
  font-size:10;
} 
.button-container { 
  overflow: auto; /* Clears the float */ 
} 

.button-float { 
  float: left; margin-right: 3px; /* Optional: Adds space between buttons */ 
}
